*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    padding: 1rem;
    display: flex;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video-card{
    display: flex;
    width: 58vh;
    flex-direction: column;
    /* width: fit-content; */
    padding: 10px;
    gap: 10px;
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.video-card:hover{
    background-color: rgb(71, 58, 58);
    transform: scale(1.005);
}

.text-div{
    display: flex;
    gap: 10px;
    padding: 0 0.6rem;
}

.child-div-1{
    display: flex;
    gap: 20px;
}

.child-div-1 img {
    border-radius: 100%;
    width: 100%;
    max-width: 60px; /* or whatever fits your UI */
    height: auto;
}

.child-div-2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.video-title{
    font-weight: bold;
}

.video-details{
    display: flex;
    gap: 0.8rem;
    font-size: 0.8rem;
    color: gray;
}

#search-suggestions-container{
    background-color: white;
    overflow-y: hidden;
    /* padding: 10px; */
    position: absolute;
    max-height: 32vh;
    width: 80%;
    display: none;
    margin-right: 60px;
    top: 60px;
    z-index: 100;
    border: 1px solid black;
}

@media (min-width: 600px) {
    .layout-container{
        display: flex;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
    }

    #root{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    aside{
        background-color: black;
        width: 4rem;
        flex-shrink: 0;
        padding: 10px 10px 10px 12px;
        display: flex;
        flex-direction: column;
    }

    aside #hamburger-toggle{
        border-radius: 100%;
        height: 2.4rem;
        width: 2.4rem;
        padding: 0.4rem;
    }

    #hamburger-toggle:hover{
        background-color: rgba(123, 123, 123, 0.995);
    }

    #hamburger-side-bar{
        background-color: black;
        height: 100vh;
        width: 12rem;
        padding: 10px 10px 10px 4px;
        display: flex;
        justify-content: space-around;
        position: fixed;
        z-index: 1000;

        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    #side-bar-toggle{
        border-radius: 100%;
        height: 2.4rem;
        width: 2.4rem;
        padding: 0.4rem;
    }

    #side-bar-toggle:hover{
        background-color: rgba(123, 123, 123, 0.995);
    }

    #hamburger-side-bar.is-open{
        transform: translateX(0);
    }

    #hamburger-side-bar>.main-logo{
        height: 2.6rem;
        width: 50%;
    }

    header{
        background-color: black;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .main-logo svg{
        height: 32%;
        width: 30%;
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
    }

    .search-child{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        position: relative;
    }

    .search-child input{
        border: none;
        width: 90%;
        height: 60%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .search-child button{
        border: none;
        padding: 10px;
        height: 60%;
        cursor: pointer;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .voice-search{
        height: 40%;
        width: 4.5%;
        display: flex;
    }

    .profile-container{
        width: 30%;
    }
}